<!DOCTYPE html>
<html lang="en">

<head>
	<title>REST API</title>
	<meta charset="UTF-8">
	<style>
	body,canvas,html{padding:0;margin:0}canvas,div#main{position:absolute}div#main,div.footer{opacity:.95;background-color:#fcfcfa;z-index:10}*{box-sizing:border-box;font-family:Menlo,Monaco,Consolas,'Courier New',monospace;font-weight:300}body,html{background-color:#fcfcfa;color:#333;height:100%;overflow:hidden;width:100%}div#main{border-radius:2px;border:2px solid #4682b4;left:0;margin:auto;padding:0 15px;right:0;top:60px;width:600px}h1,p{padding:0}a{color:#4682b4;text-decoration:none}a:hover{color:#7BE}div.footer{display:block;position:fixed;bottom:0;padding:0 10px}
	</style>
</head>

<body>
	<div id="main">

		<h1>REST API Using Python Flask and Swagger</h1>

		<p> >_ Move to <a href="http://localhost:5000/api/ui" target="_blank">Swagger UI</a></p><br>
		
		<p> >_ All End point information on <a href="http://localhost:5000/api/swagger.json" target="_blank">Swagger JSON is here</a></p><br>

	</div>

</body>
</html>